parameters:
    level: 2
    paths:
        - app
        - database/factories
        - database/seeders
    excludePaths:
        - app/Providers/MacrosServiceProvider.php
    ignoreErrors:
        - '#^Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy::\$\w+\.$#'
        - '#^Call to an undefined method Faker\\Generator::userName\(\)\.$#'
        - '#^Call to an undefined method Illuminate\\Contracts\\Container\\ContextualBindingBuilder::giveConfig\(\)\.$#'
        - '#^Call to an undefined method Illuminate\\Support\\HigherOrderCollectionProxy::\w+\(\)\.$#'

includes:
    - vendor/nunomaduro/larastan/extension.neon
