parameters:
    level: 7
    paths:
        - app
        - config
        - database/factories
        - database/seeders
        - tests
    excludePaths:
        - app/Http/Requests/StoreTale.php
        - app/Providers/MacrosServiceProvider.php
        - app/Services/FilmPolski.php
    stubFiles:
        - phpstan.stub
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#^Access to an undefined property App\\Models\\Actor\|App\\Models\\Credit::\$(as|characters|credit_nr|nr|type)\.$#'
        - '#^Access to an undefined property App\\Models\\Artist::\$appearances\.$#'
        - '#^Access to an undefined property App\\Models\\Tale::\$popularity\.$#'
        - '#^Call to an undefined method App\\Models\\Actor\|App\\Models\\Credit::(ofType|isCustom)\(\)\.$#'
        - '#^Call to an undefined method Illuminate\\Testing\\TestResponse::assertSeeLivewire\(\)\.$#'
        - '#^Call to an undefined method Spatie\\Image\\Manipulations::(save|when)\(\)\.$#'
        - '#^Cannot call method assertExitCode\(\) on Illuminate\\Testing\\PendingCommand\|int\.$#'
        -
            message: '#^Method App\\Images\\.* should return list<int<1, max>> but returns list<int>\.$#'
            count: 2
            path: app/Images
    tmpDir: .cache/phpstan

includes:
    - vendor/nunomaduro/larastan/extension.neon
    - vendor/php-standard-library/phpstan-extension/extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
