parameters:
	ignoreErrors:
		-
			message: "#^Method Database\\\\Factories\\\\TaleFactory\\:\\:configure\\(\\) should return \\$this\\(Database\\\\Factories\\\\TaleFactory\\) but returns static\\(Database\\\\Factories\\\\TaleFactory\\)\\.$#"
			count: 1
			path: database/factories/TaleFactory.php

