parameters:
    level: 2
    paths:
        - app
        - database/factories
        - database/seeders
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Support\\HigherOrderCollectionProxy::\$\w+\.#'
        - '#Call to an undefined method Illuminate\\Support\\HigherOrderTapProxy<mixed>::\w+\(\)\.#'


includes:
    - vendor/nunomaduro/larastan/extension.neon
