@layer utilities {
  .shadow-title,
  .shadow-subtitle,
  .shadow-link {
    @apply relative;

    &::after {
      @apply block absolute;
      content: '';
      z-index: -1;
    }
  }

  .shadow-title::after {
    @apply bg-yellow-kox;
    top: calc(100% - 0.6rem);
    left: -0.375rem;
    width: calc(100% + 0.75rem);
    height: 0.57rem;
  }

  .shadow-subtitle::after {
    @apply bg-yellow-ciul;
    top: calc(100% - 0.6rem);
    left: -0.25rem;
    width: calc(100% + 0.5rem);
    height: 0.4rem;
  }

  .shadow-link::after {
    @apply bg-yellow-ciul;
    top: calc(100% - 0.35rem);
    left: -0.25rem;
    width: calc(100% + 0.5rem);
    height: 0.3rem;
  }

  @media (prefers-color-scheme: dark) {
    .shadow-title::after {
      @apply bg-yellow-kox-dark;
    }

    .shadow-subtitle::after,
    .shadow-link::after {
      @apply bg-yellow-ciul-dark;
    }
  }
}
