@layer utilities {
  .shadow-title,
  .shadow-subtitle,
  .shadow-link {
    position: relative;
  }

  .shadow-title::after,
  .shadow-subtitle::after,
  .shadow-link::after {
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }

  .shadow-title::after {
    background: theme('colors.yellow.kox');
    height: 0.57rem;
    left: -0.375rem;
    top: calc(100% - 0.6rem);
    width: calc(100% + 0.75rem);
  }

  .shadow-subtitle::after {
    background: theme('colors.yellow.ciul');
    height: 0.4rem;
    left: -0.25rem;
    top: calc(100% - 0.6rem);
    width: calc(100% + 0.5rem);
  }

  .shadow-link::after {
    background: theme('colors.yellow.ciul');
    height: 0.3rem;
    left: -0.25rem;
    top: calc(100% - 0.35rem);
    width: calc(100% + 0.5rem);
  }

  @media (prefers-color-scheme: dark) {
    .shadow-title::after {
      background: theme('colors.yellow.kox-dark');
    }

    .shadow-subtitle::after,
    .shadow-link::after {
      background: theme('colors.yellow.ciul-dark');
    }
  }
}
